.testimonials {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;
    padding-bottom: 48px;
  }

  &__people {
    grid-column: 1 / -1;
    place-items: center;

    display: grid;
    row-gap: 24px;
  }

  &__block {
    grid-column: 1 / -1;
    padding: 32px 0;
    background-color: #fff;
    box-shadow: 0 9px 18px 0 #25293108;
    border-radius: 16px;
    display: grid;
    place-items: center;
  }
}
