.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
}

.wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;

  // &__logo-link {

  // }

  &__icon-burger {
    background-image: url(/src/images/Menu-icon.png);
    width: 24px;
    height: 24px;
  }
}
